<% provide(:title, "Productos") %>


      <nav class="menu">
      <a href="#" class="link-menu">Inicio</a>
      <%= link_to "Promociones", promo_path , :class => "link-menu"%>     
     <div onmouseover="mostrar()" onmouseout="ocultar()" id="mostrador">
        <a href="" class="link-menu",  :id => "current" >
         Catálogos
           <%= link_to "Shampoo", catal_path , :class => "link-menu", :id => "prodsham"%>
          <%= link_to "Marcos", marcos_path , :class => "link-menu", :id => "prodmarc"%>
         </a> 
       </div>
      <form class="buscador" action="http://www.google.com" method="options">
        <input id="buscar" type"search" name="busqueda">
        <input id="buscar-bot"type="submit" value="buscar">
      </form>      
      </nav>

      

  		<section class="contenido">

      <div class="imagen">
        <a href="producto.html"><%= image_tag("classic.jpg", :class => "img-cata") %></a>
      </div>
  			
			<div class = "descripcion"> 
			<h1>Head & Shoulders Classic Clean</h1>
			</div>
			<div class = "precio"> 
			<h1>Precio: $200</h1>
			</div>
			<div class="carrito">
				<div id= "compras"></div>
				<a href="#">Agregar al carrito</a> 
			</div> 

  		</section>


       <footer>
        <h3>Sitios amigos<h3>

        <a href="#" class="foot">Shapoo</a>
        <a href="#" class="foot">Marcos</a>
        <a href="#" class="foot">Marcos de Shapoo</a>

        <h4>Ubicación: Los Cuadros #123</h4>

      </footer>
